.col1, .col2, .col3 {
    display: inline-block;
    min-width: 10px;
    border: 0px solid;
    padding: 0px;
    font-family: "Courier New", "Lucida Console", monospace;
}

.row {
    white-space: nowrap;
}

table
{ 
margin-left: auto;
margin-right: auto;
border-spacing: 0px;
}
